p {
    color: red;
    background-color: black;
    font-size: 12px;
}

h1 {border: 10px solid red;}
h2 {border: 15px solid rgb(98, 0, 255);}
h3 {border: 20px solid rgb(136, 255, 0);}
h4 {border: 25px solid rgb(223, 213, 213);}
h5 {border: 30px solid rgb(111, 0, 255);}